body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  background-color: grey;
}

footer {
  background-color:lightgrey;
}

.hide {
  display:none;
}

.result-img {
  height: 200px;
  width: auto;
}

#imgInputDiv {
  min-height:300px;
}

#resultsDiv {
  min-height:300px;
}

.spacer {
  height:15vh;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}
